<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  <link rel="stylesheet" href="views/css/index.css"> 
  </head>
  <body>
     <!--NAVBAR-->
     <% include ./navbar%>
     
  </body>
</html>
