<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <title>Document</title>
</head>
<body>
  <div class="container-fluid bg-dark">
    <br>
    <p class="font-weight-bold h1 text-center text-white">Bienvenido</p>
    <br>
  </div>
  <div class="container-fluid bg-secondary">
    <br>
    <hr size="50px" color="white">
    <p class="font-weight-bold h3 text-center text-black">Somos un grupo de calistienicos que comparte sus rutinas por medio de esta app, Si te interesa saber más de nosotros, te invito a acceder click en  <button type="button" class="btn btn-outline-dark" style=" margin: 10px; color: black;"> <p class="font-weight-bold h3 text-center text-black">Nosotros</p> </button></p>
    <p class="font-weight-bold h1 text-center text-black">Disfruta las rutinas.</p>
    <br>
  </div>
  <div class="container-fluid bg-dark">
    <br>
    <p class="font-weight-bold h2 text-center text-white">¿Qué quieres entrenar hoy?</p>
    <br>
  </div>
<!-- cuadros de rutinas -->
  <div class="container">
    <br>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <figure class="cardd">
          <a href=""><img  src="https://amedweb.com/wp-content/uploads/2017/05/fortalecer-tren-superior-460x307.jpg" alt="">
          <figcaption>
            <h2>Tren superior</h2>
            <br>
            <br>
          </figcaption>
        </figure></a>
      </div>
      <div class="col-sm-6">
        <a href=""><figure class="cardd">
          <img  src="https://s.yimg.com/ny/api/res/1.2/fF7d.bReNgr.Wspuh8QKIw--/YXBwaWQ9aGlnaGxhbmRlcjt3PTk2MDtoPTQ4MjtjZj13ZWJw/https://s.yimg.com/uu/api/res/1.2/YWz2NMtNQx8j4kZwPKDt.A--~B/aD0zMjE7dz02NDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/es/men_s_health_es_614/650fa7378770c4efaa04ec3a83db2aa2" alt="">
          <figcaption>
            <h2>Abdomen</h2>
          </figcaption>
        </figure></a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <a href=""><figure class="cardd">
          <img  src="https://i.ytimg.com/vi/aPdMtXZ0kdM/maxresdefault.jpg" alt="">
          <figcaption>
            <h2>Pierna</h2>
          </figcaption>
        </figure></a>
      </div>
      <div class="col-sm-6">
        <a href="https://www.facebook.com/"><figure class="cardd">
          <img style="height: 230px; " src="https://images.squarespace-cdn.com/content/57e50bc4d1758e426f43ec5d/1586103892303-XMWBZN70LV5W55BT70C3/C0027_157530.jpg?content-type=image%2Fjpeg" alt="">
          <figcaption style="height:90px;">
            <h2>Handstand</h2>
          </figcaption>
        </figure></a>
      </div>
    </div>
  </div>
  
</body>
</html>
